{% extends 'base.html' %}

{% block content %}
<form method="post">

    <div class="form-group row">
        <label for="max_consumption_power" class="col-sm-8 col-form-label">Maximaal laadvermogen</label>
        <div class="col-sm-4"><input id="max_consumption_power" type="number" name="max_consumption_power" MIN="0"
                MAX="10000" STEP="10" placeholder="Post max_consumption_power" class="form-control"
                value="{{ request.form['max_consumption_power'] or max_consumption_power }}">
            </input></div>
    </div>

    <div class="form-group row">
        <label for="balance_above" class="col-sm-8 col-form-label">Balanceer vanaf (%)</label>
        <div class="col-sm-4"><input id="balance_above" type="number" name="balance_above" MIN="5" MAX="300" STEP="1"
                placeholder="Post balance_above" class="form-control"
                value="{{ request.form['balance_above'] or balance_above }}">
            </input>
        </div>
    </div>

    <div class="form-group row">
        <label for="balance_above" class="col-sm-8 col-form-label">Opladen tot (%)</label>
        <div class="col-sm-4">
            <input type="number" name="charge_until" MIN="5" MAX="100" STEP="1" placeholder="Post charge_until"
                class="form-control" value="{{ request.form['charge_until'] or charge_until }}">
            </input>
        </div>
    </div>

    <div class="form-group row">
        <label for="price_percentage" class="col-sm-8 col-form-label">Laden als uurprijs onder % ligt van
            daggemiddelde</label>
        <div class="col-sm-4">
            <input id="price_percentage" type="number" name="price_percentage" MIN="5" MAX="200" STEP="1"
                placeholder="Post price_percentage" class="form-control"
                value="{{ request.form['price_percentage'] or price_percentage }}">
            </input>
        </div>
    </div>

    <div class="form-group row">
        <label for="curr_level" class="col-sm-8 col-form-label">Huidig batterijniveau</label>
        <div class="col-sm-4">
            <div id="curr_level" class="boxed">{{battery_level}}% ({{battery_range}})</div>
        </div>
    </div>

    <label >Thuis adres</label>
    <div class="boxed">{{location_home }}</div>

    <label for="title">Huidige locatie:</label><br>
    <div class="boxed">{{ request.form['location_now'] or location_now }}
        <iframe width="450" height="250" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBKfdIbJHFNL_Mi-PNYdUOcE1FyAs2zQjU&q={{latitude_curr}},{{longitude_curr}}&center={{latitude_curr}},{{longitude_curr}}&maptype=satellite"
            allowfullscreen>
        </iframe>
    </div>
    <div class="form-group row">
        <label for="home_location" class="col-sm-8 col-form-label">Stel huidige lokatie in als thuislokatie</label>
        <div class="col-sm-2"><input id="home_location" type="checkbox" name="set_home_location"
                label="Stel huidige lokatie in als thuislokatie" placeholder="Post set_home_location" />
        </div>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Bewaren</button>
        <button type="cancel" class="btn btn-primary"
            onClick="window.location.href='{{url_for('index')}}';">Annuleren</button>

    </div>
    <div>&nbsp;</div>
</form>
<hr>
{% endblock %}