{% extends 'base.html' %}
{% block scripts %}
  {{ super() }}
  {{ datepicker.loader() }} {# to load jQuery-ui #}
  {{ datepicker.picker(id=".dp") }}
{% endblock %}
{% block content %}
  <br>

  <div id="placeholder" style="width:100%;height:450px;"></div>
  <!--[if IE]>
  <script type="text/javascript" src="path/to/flashcanvas.js"></script>
  <![endif]-->
  <script type="text/javascript" src="../static/js/flotr2.min.js"></script>
  <script type="text/javascript">
  var placeholder = document.getElementById('placeholder')
  var costs = {{ costs }};
  var profits = {{ profits }};
  var tesla_costs = {{ tesla_costs }};

  options = {
    xaxis : {
      title : "Tijd",
      tickDecimals:0,
      noTicks:24,
      min:0,
      max:24
    },
    yaxis : {
      title : "Euro",
      noTicks: 20,
      min: 0
    },
    legend: {
      position: "ne",
    },
    title : "Kosten en opbrengst uitgezet tegen de tijd",
    HtmlText : false
  };

  Flotr.draw(
      placeholder,
      [ {data : costs      , label : 'Verbruik'      , color: "#0000FF"}, 
        {data : profits    , label : 'Teruglevering' , color: "#FFFF00"},
        {data : tesla_costs, label : 'Tesla verbruik', color: "#FF0000"} ],
    options
  );
    
  function refresh() {
    document.besturing.submit();  
  }

  $(function() {
        $(".dtpick")
        .datepicker(
          {  
              dateFormat:"yy-mm-dd",
              firstDay: 1 // Start with Monday     
          },
          {
          onSelect: function(dateText) {
          console.log("Selected date: " + dateText + "; input's current value: " + this.value);
        $(this).change();
    }
  })
  .on("change", function() {
    console.log("Got change event from field");
    document.besturing.submit();
  });
  });
  
</script>

<form name="besturing" method="post" class="verticalform">
  <input name="datum" type="text" class="dtpick" value="{{ datum }}"  size=10></input>
  <input name="go"    type="submit" value="eerder" class="btn btn-primary">
  <input name="go"    type="submit" value="later"  class="btn btn-primary"> 
</form><br>
<table>Totaal:<br>
  <tr><td>Verbruik:</td><td>{{total_costs}}</td></tr>
  <tr><td>Opbrengst:</td><td>{{total_profits}}</td></tr>
  <tr><td>Tesla consumptie:</td><td>{{total_tesla}}</td></tr>
  <tr><td>Eigen verbruik (zonder Tesla):</td><td>{{total_netto}}</td></tr>
</table>

<div class="form-group"></div>
<br>

{% endblock %}