{% extends 'base.html' %}
{% block scripts %}
  {{ super() }}
  {{ datepicker.loader() }} {# to load jQuery-ui #}
  {{ datepicker.picker(id=".dp") }}
{% endblock %}
{% block content %}
   <br>

   <div id="placeholder" style="width:100%;height:500px;"></div>
   <!--[if IE]>
    <script type="text/javascript" src="path/to/flashcanvas.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../static/js/flotr2.min.js"></script>
    <script type="text/javascript">
      function interval_decrease() {
        minutes_el = document.getElementById("minutes");
        minutes = parseInt(minutes_el.value);
        if (minutes > 1) {
          if (minutes > 1)
            stepsize =  1;
          if (minutes > 10)
            stepsize =  10;
          if (minutes > 30)
            stepsize =  30;
          if (minutes > 60)
            stepsize = 60;
          minutes_el.value = parseInt(minutes_el.value) - stepsize;          
        }
      }
      function interval_increase() {
        minutes_el = document.getElementById("minutes");
        minutes = parseInt(minutes_el.value);
        stepsize =  1;        
        if (minutes >= 10)
          stepsize =  10;
        if (minutes >= 30)
          stepsize =  30;
        if (minutes >= 60)
          stepsize = 60;
        minutes_el.value = parseInt(minutes_el.value) + stepsize;
      }
      function padTo2Digits(num) {
        return num.toString().padStart(2, '0');
      }
      function formatDate(date) {
        return (
          [
            padTo2Digits(date.getHours()),
            padTo2Digits(date.getMinutes()),
            padTo2Digits(date.getSeconds()),
          ].join(':')
        );
        return (
          [
            date.getFullYear(),
            padTo2Digits(date.getMonth() + 1),
            padTo2Digits(date.getDate()),
          ].join('-') +
          ' ' +
          [
            padTo2Digits(date.getHours()),
            padTo2Digits(date.getMinutes()),
            padTo2Digits(date.getSeconds()),
          ].join(':')
        );
      }

      var placeholder = document.getElementById('placeholder')
      var costs = {{ costs|safe }};
      var profits = {{ profits|safe }};
      var tesla_costs = {{ tesla_costs|safe }};

      
      options = {
        xaxis : {
          title : "Tijd",
          tickDecimals:0,
          min:0

        },
        yaxis : {
          title : "Euro",
          min: 0
        },
        legend: {
          position: "sw",
        },
        title : "Kosten en opbrengst uitgezet tegen de tijd",
        HtmlText : false
      };

      // Flotr.draw(
      //     placeholder,
      //     [ {data : costs      , label : 'Verbruik'      , color: "#0000FF"}
      //        ],
      //     options
      //   );
        
     Flotr.draw(
         placeholder,
         [ {data : costs      , label : 'Verbruik'      , color: "#0000FF"}, 
           {data : profits    , label : 'Teruglevering' , color: "#FFFF00"},
           {data : tesla_costs, label : 'Tesla verbruik', color: "#FF0000"} ],
        options
      );
        
      function refresh() {
        document.besturing.submit();  
      }

      // setInterval(refresh, 10000);   
    </script>
    <form name="besturing" method="post" class="verticalform">
      <input type="text" class="form-control dp" />
    </span>
   <div class="form-group"></div>
  </form>

<br>

{% endblock %}