{% extends 'base.html' %}
{% block scripts %}
  {{ super() }}
  {{ datepicker.loader() }} {# to load jQuery-ui #}
  {{ datepicker.picker(id=".dp") }}
{% endblock %}
{% block content %}
  <br>

  <div id="placeholder" style="width:100%;height:450px;"></div>
  <!--[if IE]>
  <script type="text/javascript" src="path/to/flashcanvas.js"></script>
  <![endif]-->
  <script type="text/javascript" src="../static/js/flotr2.min.js"></script>
  <script type="text/javascript">

  var placeholder = document.getElementById('placeholder');
  placeholder.setAttribute("style","height:" + (window.innerHeight - 200) * 0.9 + "px");
  var gas_usages = {{ gas_usages }};

  options = {
    xaxis : {
      title : "Tijd",
      tickDecimals:0,
      noTicks:24,
      min:0,
      max:24
    },
    yaxis : {
      title : "M3",
      noTicks: Math.round(window.innerHeight / 40),
      min: 0
    },
    legend: {
      position: "ne",
    },
    title : "Gebruik in M3 uitgezet tegen de tijd",
    HtmlText : false
  };

  Flotr.draw(
      placeholder,
      [ {data : gas_usages      , label : 'Verbruik'      , color: "#0000FF"}, 
         ],
    options
  );
    
  function refresh() {
    document.besturing.submit();  
  }

  $(function() {
        $(".dtpick")
        .datepicker(
          {  
              dateFormat:"yy-mm-dd",
              firstDay: 1 // Start with Monday     
          },
          {
          onSelect: function(dateText) {
          console.log("Selected date: " + dateText + "; input's current value: " + this.value);
        $(this).change();
    }
  })
  .on("change", function() {
    console.log("Got change event from field");
    document.besturing.submit();
  });
  });
  
</script>

<form name="besturing" method="post" class="verticalform">
  <input name="datum" type="text" class="dtpick" value="{{ datum }}"  size=10></input>
  <input name="go"    type="submit" value="eerder" class="btn btn-primary">
  <input name="go"    type="submit" value="later"  class="btn btn-primary"> 
</form><br>
<table>Totaal:<br>
  <tr><td>Verbruik:</td><td>{{total_gas}}</td></tr>
</table>

<div class="form-group"></div>
<br>

{% endblock %}