{% extends 'base.html' %}
{% block content %}
   <br>
    <div id="placeholder" style="width:100%;height:600px;"></div>

    <!--[if IE]>
    <script type="text/javascript" src="path/to/flashcanvas.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../static/js/flotr2.min.js"></script>
    <script type="text/javascript">
      function padTo2Digits(num) {
        return num.toString().padStart(2, '0');
      }

      function formatDate(date) {
        return (
          [
            date.getFullYear(),
            padTo2Digits(date.getMonth() + 1),
            padTo2Digits(date.getDate()),
          ].join('-') +
          ' ' +
          [
            padTo2Digits(date.getHours()),
            padTo2Digits(date.getMinutes()),
            padTo2Digits(date.getSeconds()),
          ].join(':')
        );
      }

      (function mouse_drag() {
        var container = document.getElementById('placeholder')
        var surplusses = {{ surplusses|safe }};
        var productions = {{ productions|safe }};
        var tesla_consumptions = {{ tesla_consumptions|safe }};
        var start = new Date("{{start_datetime_str}}").getTime();

        /* multiply by 1000 to convert seconds into milliseconds */
        for (i = 0; i < surplusses.length; i++) {
          surplusses[i][0]         = 1000 * surplusses[i][0];
          productions[i][0]        = 1000 * productions[i][0];
          tesla_consumptions[i][0] = 1000 * tesla_consumptions[i][0];
        }
        
        options = {
          xaxis : {
            labelsAngle : 45, 
            title : "Tijd",
            mode : 'Time',
            timeMode : 'local',
            noTicks: 10,
            tickFormatter: function (x) { return formatDate(new Date(parseInt(x)));   }          
          },
          yaxis : {
            max : 3000,
            min : -6000,
            minorTicks : [1,3],
            title : "Watt",
            noTicks : 10
          },
          selection : {
            mode : 'x'
          },
          HtmlText : false
        };

        // Draw graph with default options, overwriting with passed options
        function drawGraph (opts) {

          // Clone the options, so the 'options' variable always keeps intact.
          var o = Flotr._.extend(Flotr._.clone(options), opts || {});

          // Return a new graph.
          return Flotr.draw(
            container,
            [ surplusses, productions, tesla_consumptions ],
            o
          );
        }

        graph = drawGraph();      

        Flotr.EventAdapter.observe(container, 'flotr:select', function(area){
            // Draw selected area
            graph = drawGraph({ xaxis : { min : area.x1, max : area.x2, mode : 'time', labelsAngle : 45 },
                                yaxis : { min : area.y1, max : area.y2 }
                });
        });
        
        // When graph is clicked, draw the graph with default area.
      Flotr.EventAdapter.observe(container, 'flotr:click', function () { graph = drawGraph(); });
      
      })();
    </script>

<br>

{% endblock %}