{% extends 'base.html' %}
{% block content %}
   <br>

    <div id="placeholder" style="width:100%;height:600px;"></div>
    <!--[if IE]>
    <script type="text/javascript" src="path/to/flashcanvas.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../static/js/flotr2.min.js"></script>
    <script type="text/javascript">
      function hours_decrease() {
        hours_el = document.getElementById("hours");
        if (parseInt(hours_el.value) > 1) {
          hours_el.value = parseInt(hours_el.value) - 1;          
        }
      }
      function hours_increase() {
        hours_el = document.getElementById("hours");
        hours_el.value = parseInt(hours_el.value) + 1;
      }
      function padTo2Digits(num) {
        return num.toString().padStart(2, '0');
      }

      function formatDate(date) {
        return (
          [
            date.getFullYear(),
            padTo2Digits(date.getMonth() + 1),
            padTo2Digits(date.getDate()),
          ].join('-') +
          ' ' +
          [
            padTo2Digits(date.getHours()),
            padTo2Digits(date.getMinutes()),
            padTo2Digits(date.getSeconds()),
          ].join(':')
        );
      }

      (function mouse_drag() {
        var container = document.getElementById('placeholder')
        var surplusses = {{ surplusses|safe }};
        // var productions = {{ productions|safe }};
        var tesla_consumptions = {{ tesla_consumptions|safe }};
        var start = new Date("{{start_datetime_str}}").getTime();

        /* multiply by 1000 to convert seconds into milliseconds */
        for (i = 0; i < surplusses.length; i++) {
          surplusses[i][0]         = 1000 * surplusses[i][0];
          // productions[i][0]        = 1000 * productions[i][0];
          tesla_consumptions[i][0] = 1000 * tesla_consumptions[i][0];
        }
        
        options = {
          xaxis : {
            labelsAngle : 45, 
            title : "Tijd",
            mode : 'Time',
            timeMode : 'local',
            noTicks: 10,
            tickFormatter: function (x) { return formatDate(new Date(parseInt(x)));   }          
          },
          yaxis : {
            minorTicks : [1,3],
            title : "Watt"
          },
          legend: {
            position: "sw",
          },
          selection : {
            mode : 'x'
          },
          title : "Vermogen opgewekt, opgenomen en resultaat",
          HtmlText : false
        };

        // Draw graph with default options, overwriting with passed options
        function drawGraph (opts) {

          // Clone the options, so the 'options' variable always keeps intact.
          var o = Flotr._.extend(Flotr._.clone(options), opts || {});

          // Return a new graph.
          return Flotr.draw(
            container,
            [ {data : surplusses        , label : 'Netto Resultaat' , color: "#0000FF"}, 
              // {data : productions       , label : 'Energie opwek'   , color: "#FFFF00"},
              {data : tesla_consumptions, label : 'Tesla consumptie', color: "#FF0000"} ],
            options
          );
        }
        graph = drawGraph();      

        Flotr.EventAdapter.observe(container, 'flotr:select', function(area){
            // Draw selected area
            graph = drawGraph({ xaxis : { min : area.x1, max : area.x2, mode : 'time', labelsAngle : 45 },
                                yaxis : { min : area.y1, max : area.y2 }
                });
        });
        
        // When graph is clicked, draw the graph with default area.
      Flotr.EventAdapter.observe(container, 'flotr:click', function () { graph = drawGraph(); });
      
      })();

      function refresh() {
        document.besturing.submit();  
      }

      setInterval(refresh, 10000);   
    </script>
   <form name="besturing" method="post">
    Toon <input id="hours" name="hours" size="2" value="{{ request.form['hours'] or hours }}"> uren&nbsp;
    
    <button type="submit" class="btn btn-primary" onclick="hours_decrease()">&nbsp;-&nbsp;</button>
    <button type="submit" class="btn btn-primary" onclick="hours_increase()">&nbsp;+&nbsp;</button>
    <div class="form-group"></div>
  </form>

<br>

{% endblock %}