{% extends 'base.html' %}
{% block content %}
<br>
Laatste gegevens : <span id="lastUpdate"></span><br/><br/><br/>
<div class="label">Huidig energie overschot</div>  <span id="surplus"              >{{ model.surplus }}</span> Watt

<br><br>

<table width="100%"> 
    <hr>
        <td valign="top"><strong>Stroomverbruiker</strong>&nbsp;</td>
        <td valign="top"><strong>Consumeert</strong>&nbsp;</td>
        <td valign="top" width="120"><strong>Balanceer</strong></td>
        <!-- <td valign="top"><strong>Uitgeschakeld</strong></td> -->
    </hr>
    <tr>
        <td>Tesla</td>
        <td><span id="charging_tesla_amp"></span>A <span id="charging_tesla_watt"></span>W <span id="charging_tesla_status"></span></td>
        <td>
          <label class="switch">
            <input id="balance_Tesla" type="checkbox" {{balance_tesla}} onchange="balance_changed('Tesla')" />
            <span class="slider round"></span>
          </label>
        </td>
    </tr>
</table>
<script type="text/javascript">
    function balance_changed(consumer_name) {
        if(document.getElementById("balance_" + consumer_name).checked)
          par=1;
        else
          par=0;
        url = '/balance/set/' + par + "/" + consumer_name;
        fetch( url )
        .then(function (response) {
          return response.json();
        })
        .then(function (data) {
        //  alert(JSON.stringify(data));
        })
        .catch(function (err) {
          console.log(err);
        });
    }
    function refresh() {
        fetch('/data/get')
          .then(response => response.json())
          .then(data => updatePageData(data))
          .catch(function (err) {
                alert('error: ' + err);
            });
    }
    function updatePageData(data) 
    {
      for (i=0;i<data.length;i++){
        if (jQuery) {
          jQuery.each(data[i], 
            function(data_element, data_value) {
              field = document.getElementById(data_element)
              if (field != undefined) {
                if (field.type == 'checkbox') {
                  field.checked = data_value == 1;
                }
                else
                  field.innerText = data_value;
              }
          });    
        }
      }
      field = document.getElementById("lastUpdate");
      if (field != undefined) {
        var now = new Date();
        h = now.getHours();
        m = now.getMinutes();
        s = now.getSeconds();
        field.innerText = h + ':' + String(m).padStart(2, '0') + ':' + String(s).padStart(2, '0');
      }
    }
    setInterval(refresh, 1000);   
</script>
{% endblock %}

