{% extends 'base.html' %}

{% macro format_datetime(mytime) %}
    <strong>{{ nice_date(mytime) }}</strong>
{% endmacro %}

{% block content %}
<form method="post">
    <table>
        <tr>
            <th><strong>Log&nbsp;date/time&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></th>
            <th><strong>Type&nbsp;</strong></th>
            <th><strong>Module&nbsp;</strong></th>
            <th><strong>Melding</strong></th>
            <th><strong>Herhaald</strong></th>
        </tr>
        {% for line in lines %}
        <tr class="logline_tr">
            <td>{{ nice_date(line['log_date']) }}&nbsp;</td> 
            <td>{{ line['levelname']           }}&nbsp;</td>
            <td>{{ line['source']              }}&nbsp;</td>
            <td>{{ line['message']             }}&nbsp;</td>
            <td>{{ line['occurrences']         }}</td>
        </tr>
        {% endfor %}
    </table>
</form>


{% endblock %}