{% extends 'base.html' %}
{% block content %}
   <br>

   <div id="placeholder_prices" style="width:100%;height:500px;"></div>
   <!--[if IE]>
    <script type="text/javascript" src="path/to/flashcanvas.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../static/js/flotr2.min.js"></script>
    <script type="text/javascript">
      
      function padTo2Digits(num) {
        return num.toString().padStart(2, '0');
      }
      function formatDate(date) {
        return (
          [
            padTo2Digits(date.getHours()),
            padTo2Digits(date.getMinutes()),
            padTo2Digits(date.getSeconds()),
          ].join(':')
        );
        
      }

        var placeholder_prices = document.getElementById('placeholder_prices')
        var prices = {{ prices|safe }};
        
        options_prices = {
          bars : {
            show : true,
            shadowSize : 0,
            barWidth : 0.8,
          },            
          xaxis : {
            labelsAngle : 45, 
            title : "Tijd",
            mode : 'Time',
            timeMode : 'local',
            noTicks: 14,
            autoscale: true,
            min:0
          },
          yaxis : {
            title : "Euro"
          },
          legend: {
            position: "ne",
          },
          title : "KWh prijzen uitgezet tegen de tijd",
          HtmlText : false
        };

        // Draw graph with default options_energy, overwriting with passed options

        Flotr.draw(
          placeholder_prices,
            [ {data : prices        , label : 'Prijzen' , color: "#0000FF"}, 
              ],
              options_prices
          );
    

      
    </script>

<br>

{% endblock %}

