<!-- jinja -->
{% extends 'base.html' %}

{% block content %}
<br>

<div id="placeholder_prices" style="width:100%;height:500px;"></div>
<!--[if IE]>
<script type="text/javascript" src="path/to/flashcanvas.js"></script>
<![endif]-->
<script type="text/javascript" src="../static/js/flotr2.min.js"></script>
<script type="text/javascript">
  
var placeholder_prices = document.getElementById('placeholder_prices')
var prices = {{ prices|safe }};

options_prices = {
  bars : {
    show : true,
    shadowSize : 0,
    barWidth : 0.8,
  },            
  xaxis : {
    title : "Tijd",
    tickDecimals:0,
    min:0
  },
  yaxis : {
    title : "Euro",
    noTicks: 10,
    minorTickFreq: 4,
    min: 0
  },
  legend: {
    position: "ne",
  },
  title : "KWh prijzen uitgezet tegen de tijd",
  HtmlText : false
};

Flotr.draw(
  placeholder_prices,
    [ {data : prices        , label : 'Prijzen' , color: "#0000FF"}, 
      ],
      options_prices
  );

  $(function() {
        $(".dtpick")
        .datepicker(
          {  
              dateFormat:"yy-mm-dd",
              firstDay: 1 // Start with Monday     
          },
          {
          onSelect: function(dateText) {
          console.log("Selected date: " + dateText + "; input's current value: " + this.value);
        $(this).change();
    }
  })
  .on("change", function() {
    console.log("Got change event from field");
    document.besturing.submit();
  });
  });

</script>

<form name="besturing" method="post" class="verticalform">
  <input name="datum" type="text" class="dtpick" value="{{ datum }}"  size=10></input>
  <input name="go"    type="submit" value="eerder" class="btn btn-primary">
  <input name="go"    type="submit" value="later"  class="btn btn-primary"> 
</form>
<div class="form-group"></div>

<br>

{% endblock %}

