{% extends 'base.html' %}

{% block content %}
<form method="post">
    <div class="form-group">
        <label for="title">Log bewaartijd (in uren)</label>
        <input type="number" name="log_retention"  MIN="0" MAX="10000" STEP="1" 
               placeholder="Post log_retention" class="form-control"
               value="{{ request.form['log_retention'] or log_retention }}"></input>
        <label for="title">Meterwaarden bewaartijd (in dagen)</label>
        <input type="number" name="stats_retention"  MIN="0" MAX="10000" STEP="1" 
                placeholder="Post stats_retention" class="form-control"
                value="{{ request.form['stats_retention'] or stats_retention }}"></input>
               
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Bewaren</button>
        <button type="cancel" class="btn btn-primary"  onClick="window.location.href='{{url_for('index')}}';">Annuleren</button>

    </div>
</form>
<hr>

{% endblock %}