{% extends 'base.html' %}

{% block content %}
<form method="post">
    <div class="form-group">
            <label for="title">Maximaal opgenomen vermogen</label>
            <input type="number" name="consumption"  MIN="0" MAX="10000" STEP="10" 
                placeholder="Post consumption" class="form-control"
                value="{{ request.form['consumption'] or consumption }}">
            </input>

            <br>
            <label for="title">Grenswaarde om te starten met laden</label>
            <input type="number" name="start_above"  MIN="0" MAX="10000" STEP="10" 
                    placeholder="Post start_above" class="form-control"
                    value="{{ request.form['start_above'] or start_above }}">
            </input>
            <!--     
            <label for="title">Grenswaarde om te stoppen met ladenr</label>
            <input type="number" name="stop_under"  MIN="-10000" MAX="10000" STEP="10" 
                placeholder="Post stop_under" class="form-control"
                value="{{ request.form['stop_under'] or stop_under }}">
            </input>
            -->
            <br>
            <label for="title">Grenswaarde om te stoppen met laden</label>
            <input type="number" name="stop_under"  MIN="-10000" MAX="10000" STEP="10" 
                placeholder="Post stop_under" class="form-control"
                value="{{ request.form['stop_under'] or stop_under }}">
            </input>
    
            <br>
            <div>
                <label for="title">Thuis adres</label><br>
                <input type="text" value="{{request.form['location_home'] or location_home }}"  class="form-control" readonly/>
            </div>
            
            <br>
            <div>
                <label for="title">Huidige locatie:</label><br>
                <input type="text" value="{{ request.form['location_now'] or location_now }}" class="form-control" readonly/>
            </div>
    
            <div>
                <br>
                <label for="title">Stel huidige lokatie in als thuislokatie</label>&nbsp;
                <input  type="checkbox" 
                        name="set_home_location"  
                        label="Stel huidige lokatie in als thuislokatie"
                        placeholder="Post set_home_location" />
            </div>
    
        </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Bewaren</button>
        <button type="cancel" class="btn btn-primary"  onClick="window.location.href='{{url_for('index')}}';">Annuleren</button>

    </div>
</form>
<hr>

{% endblock %}