{% extends 'base.html' %}
{% block content %}
<br>
Laatste gegevens : <span id="lastUpdate"></span><br/><br/><br/>
<div class="label">Huidig energie overschot</div>  <span id="surplus"              >{{ model.surplus }}</span> Watt
<!-- 
<div class="label">Overschot gezien gedurende</div><span id="surplus_delay_count"  >{{ model.surplus_delay_count }}</span> seconden
<div class="label">Tekort gezien gedurende</div>   <span id="deficient_delay_count">{{ model.deficient_delay_count }}</span> seconden
<div class="label">Vertraging starten laden</div>{{ surplus_delay_theshold }} seconden
<div class="label">Vertraging stoppen laden</div>{{ model.deficient_delay_theshold }} seconden      
-->
<br><br>

<table> 
    <hr>
        <td><strong>Stroomverbruiker</strong>&nbsp;</td>
        <td><strong>Consumeert</strong>&nbsp;</td>
        <td><strong>Geforceerd consumeren</strong></td>
        <td><strong>Uitgeschakeld</strong></td>
    </hr>
    <tr>
        <td>Tesla</td>
        <td><span id="charging_tesla_amp"></span>A <span id="charging_tesla_watt"></span>W</td>
        <td>
          <label class="switch">
            <input id="override_Tesla" type="checkbox" {{override_tesla}} onchange="override_changed('Tesla')" />
            <span class="slider round"></span>
          </label>
        </td>
        <td>
          <label class="switch">
            <input id="disabled_Tesla" type="checkbox" {{disabled_tesla}} onchange="disabled_changed('Tesla')" />
            <span class="slider round"></span>
          </label>
        </td>
      
    </tr>
</table>
<script type="text/javascript">
    function override_changed(consumer_name) {
        if(document.getElementById("override_" + consumer_name).checked)
          par=1;
        else
          par=0;
        url = '/override/set/' + par + "/" + consumer_name;
        fetch( url );
    }
    function disabled_changed(consumer_name) {
        if(document.getElementById("disabled_" + consumer_name).checked)
          par=1;
        else
          par=0;
        url = '/disabled/set/' + par + "/" + consumer_name;
        fetch( url );
    }
    function refresh() {
        fetch('/data/get')
          .then(response => response.json())
          .then(data => updatePageData(data))
          .catch(function (err) {
                alert('error: ' + err);
            });
    }
    function updatePageData(data) 
    {
      for (i=0;i<data.length;i++){
        if (jQuery) {
          jQuery.each(data[i], 
            function(data_element, data_value) {
              field = document.getElementById(data_element)
              if (field != undefined) {
                if (field.type == 'checkbox') {
                  field.checked = data_value == 1;
                }
                else
                  field.innerText = data_value;
              }
          });    
        }
      }
      field = document.getElementById("lastUpdate");
      if (field != undefined) {
        var now = new Date();
        h = now.getHours();
        m = now.getMinutes();
        s = now.getSeconds();
        field.innerText = h + ':' + String(m).padStart(2, '0') + ':' + String(s).padStart(2, '0');
      }
    }
    setInterval(refresh, 1000);   
</script>
{% endblock %}

