{% extends 'base.html' %}

{% macro format_datetime(mytime) %}
    <strong>{{ nice_date(mytime) }}</strong>
{% endmacro %}

{% block content %}
<form method="post">
    <table>
        <hr>
            <td style="width:205px"><strong>Log date/time</strong>&nbsp;</td>
            <td><strong>Type</strong>&nbsp;</td>
            <td><strong>Module</strong>&nbsp;</td>
            <td><strong>Message</strong></td>
        </hr>
    {% for line in lines %}
        <tr>
            <td>{{ nice_date(line['log_date']) }}&nbsp;</td>
            <td>{{ line['levelname']           }}&nbsp;</td>
            <td>{{ line['source']              }}&nbsp;</td>
            <td>{{ line['message']             }}</td>
        </tr>
    {% endfor %}
    </table>
</form>
<hr>

{% endblock %}