{% extends 'base.html' %}
{% block content %}
<br>
Last update : <span id="lastUpdate"></span><br/><br/><br/>
<table><tr>
    <td>Huidig energie overschot</td>   <td>: <span id="surplus"              >{{ model.surplus }}</span>                    </td><td>Watt     </td></tr>
    <td>Overschot gezien gedurende</td> <td>: <span id="surplus_delay_count"  >{{ model.surplus_delay_count }}</span>        </td><td>seconden</td></tr>
    <td>Tekort gezien gedurende </td>   <td>: <span id="deficient_delay_count">{{ model.deficient_delay_count }}</span>      </td><td>seconden</td></tr>
    <td>Vertraging starten laden</td>   <td>: {{ surplus_delay_theshold }}                                                   </td><td>seconden</td></tr>
    <td>Vertraging stoppen laden</td>   <td>: {{ model.deficient_delay_theshold }}                                           </td><td>seconden</td></tr>
</table>
        
<br>
<div>Geforceerd laden <label class="switch">
    <input id="override" type="checkbox" checked="{{ override_checked }}" onchange="override_changed()">
    <span class="slider round"></span>
</label></div>
{% endblock %}